<h1>Homepage</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<img src="https://media.npr.org/assets/img/2016/08/22/bobearly1_wide-f0fae2126b4eec1ce1ee0e4e61223fbd1756f617.jpg?s=1400">

<h1>Blog Posts</h1>
<%= @posts.inspect %>

<h1>Skills</h1>
<%= @skills.inspect %>